# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Build files
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.lastbuildstate
*.log
*.recipe

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.cache
